<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hãy học thôi nào Bình</h3>
    <div>
        <img src="/images/0098.png_1200.png" alt="" height="50" width="50"> 
    </div>
</body>
</html>